listingDescriptionp.ratingview {
	color: #000;
	font-size: 1em;
	font-weight: 600;
	float: left;
	margin:10px 0px;
}


img.star{
	height: 40px;
}
.inline{
	display: inline-block;
}
.rating  {
		  direction: rtl;
		  text-align: center;
		    float: left;
			margin:10px 10px;
		}
		.rating > span {
		  display: inline-block;
		  position: relative;
		  /*width: 1.1em;*/
		}
		.rating > span:hover,
		.rating > span:hover ~ span {
		  color: transparent;
		}
		.rating > span:hover:before,
		.rating > span:hover ~ span:before {
		   content: "\2605";
		   position: absolute;
		   left: 0;
		   color: gold;
		}
.starRate:before {
	color: transparent;
	content: "\2605";
    position: absolute;
    left: 0;
    color: black;
    
}

.yrw {
	margin: 2em 0;
}
.dropdown {
  padding: 4px 0;
  float:left;
  outline: none;
  width:23%;
  margin-bottom:0.5em;
}

.movie-pic {
	float:left;
	width:24%;
	margin-right:3%;
}
.movie-pic img {
	width: 100%;
} 
.review-info {
	float:left;
	width:73%;
}

p.dirctr {
	color: #B1B1B1;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
}
p.dirctr a {
	color: #B1B1B1;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
	text-decoration:none;
}
.single {
	margin-top:2em;
}
.single h3{
	color:#000;
	font-size:1.7em;
	font-weight:600;
	margin-bottom:1em;
}
.single p{
	color:#000;
	font-size:1.4em;
	font-weight:600;
	margin-bottom:1em;
}
.single p i {
	font-weight:400;
	font-size:0.95em;
}
p.span {
    color: #000;
    font-size: 1.8em;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}
.like{
	height: 30px;
}

.tabTable .price, .tabTable .productSpecialPrice, .tabTable .normalprice{ font-family:'Devonshire', sans-serif;
	font-size:25px;
	line-height:28px;
	font-weight:normal;
	color:#685a48;}
    
/*  CATEGORY LISTING  */

.tabTable {margin:0px 0px 5px 0px; border-left:1px solid #E1E1E1; border-right:1px solid #eaeaea;}
.tabTable th {padding:12px 10px; border-top:1px solid #E1E1E1;  border-bottom:1px solid #E1E1E1; text-align:center;}
.tabTable th {font-size:16px; font-weight:normal; background:#fafafa; color:#000;}
.tabTable th a {color:#000;}

.tabTable td { border-bottom:1px solid #E1E1E1; padding:15px 5px;}
.tabTable td .listingDescription {padding:5px 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px;}
.tabTable td a {font-size:17px; text-decoration:none; line-height:20px; font-weight:bold; font-family: 'PT Sans Narrow', sans-serif; text-transform:uppercase;}
.tabTable td a:hover { color:#bbb998;}


#bookContainer{
	height:300px;
	padding: 10px;
}
#bookContainer img{
	position: relative;
	float:left;
	width:25%;
	height:100%;
}
#bookContainer a{
	color:#000033;
	text-decoration: none;
}
.bContainerContent{
	
	float:left;
	width:70%;
	height: 100%;
	margin-left: 15px;
	padding-left: 15px;
}
.bContainerContentTitle{
	text-align: center;
	margin-bottom: 40px;
}
.bContainerContentGenres>*{
	float:right;
	width: 13%;

}
.bContainerContentDesc{
	margin-top:20px;
	float:left;
	
}
.bContainerContentAuthor span{
	
	font-size: 1.5em;
	
	float:left;
	
}
.searchResult{
	width: 50%;
	/*border:1px solid black;*/
	text-align: center;
	margin-bottom: 30px;
	height: 70px;
	cursor: pointer;
}
.searchResult > img{
	display: block;
	width:70px;
	height: 70px;
	float: left;
}
.searchResult > h1{
	float: left;
	margin-left: 30px;
}

	.texxt{
		font-size: 1.3em;
	}
  .comment{
    border:1px solid black;
    border-radius: 10px;
    overflow: auto;
    word-wrap: break-word;
    margin-bottom: 10px;
    background-color: #EDFAFD;
    padding: 15px;
  }
  .comment img{
    display:block;
    float:left;
    width:50px;
    height:50px;
    margin-right: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
  }
  .comment h2{
    cursor: pointer;
    font-size: 1.5em;
  }
  .comment .btn{
    margin-right: 20px;
  }
  .commentList{
    background-color: #E9DCCD;
    padding:20px;
  }
  .commentForm textarea{
    width:300px;
    height:150px;
/*    float: left;*/
    margin-bottom: 10px;
  }
  .commentForm #author{
    font-size: 1.5em;
    font-weight: bold;
  }
.addComment{
	display: block;
	float: left;
	clear:both;
}

/*footer*/
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

html, body {
  height: 100%;
  
}
body{
  padding-top: 10px; 
}

#wrap {
  min-height: 100%;
}

#main {
  /*overflow:auto; */  /* this makes the page go left right*/
  padding-bottom:190px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;
  padding-top:20px;
} 


/*          home page        */

 .carousel-indicators .active {
    background-color: rgba(233,212,179,1);
 }
 .carousel-indicators li {
    border:1px solid black;
    background-color: white;
  }
  .carousel-control.left { 
    background-image: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 21%, rgba(233,212,179,1) 100%);  
    height: 330px;
  }
  .carousel-control.right { 
    background-image: linear-gradient(to left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 21%, rgba(233,212,179,1) 100%);  
    height: 330px;
  }

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
/*.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}*/


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
.authorImg{
    display: block;
    width: 500px;
    height: 300px;
  }
  .authorInfo{
    margin: 0 auto;
    text-align: center;
  }
  .authorName{
    display: block;
    font-size: 2em;
    margin-bottom: 50px;
  }

  .authorBookHolder { 
     padding: 14px 9px;
     border: solid 1px #dcdcdc;
     width:150px;
     height: 200px; 
     float:left;
     overflow:hidden;
     margin:10px 10px;
    }
  .authorBookName{ 
    font-size: 12px; 
    line-height: 20px; 
    color: #0182b5; 
    font-family: 'Georgia', Arial, serif; 
    display: block; 
  }
  .authorBookImage {
     
     width: 90%;
     height: 50%;
     margin: 0 auto;
  }
  .authorBookImage>a>img { 
     display: block;
     width: 100%;
     height: 100%;
  }
  .authorBookDescription {
    width:100%;
    word-wrap: break-word;
    overflow: hidden;

    }


    .bookDropdown .dropdown-menu > li {
      padding:4px 4px;
      border-bottom: 1px solid grey;
      cursor: pointer;
    }
    .bookDropdown .dropdown-menu li:hover {
      background-color: rgba(233,212,179,1);
    }

    .navbar-right li{
      cursor:pointer;
    }

    .review-right{
      border-left:1px solid  rgba(182,141,76,1);
    }

    .hrClass{
      border-top:1px solid rgba(182,141,76,1);
    }

    .EditGenres:hover{
      cursor:pointer;
      text-decoration: underline;
    }

    .profileDropDown{
      font-size:1.2em;
      font-weight: bold;
    }