
       <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <!-- <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div> -->

    <section class="blog wow fadeInUp">
<div id="blog" class="module container">
<div class="module-heading home-page-module-heading">
<h2 class="module-title home-page-module-title"><span>From the blog</span></h2>
</div><!-- /.module-heading -->
<div class="module-body inner-top-50">
<div class="row">
<div class="col-md-6 col-sm-6">
<div class="row">
<div class="col-md-5 col-sm-5 blog-image"><a href="#"></a></div>
<div class="col-md-7 col-sm-7 blog-info">
<h4 class="blog-heading"><a href="#">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend</a></h4>
<p class="text">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
</p>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.col -->
<div class="col-md-6 col-sm-6">
<div class="row">
<div class="col-md-5 col-sm-5 blog-image"><a href="#"></a></div>
<div class="col-md-7 col-sm-7 blog-info">
<h4 class="blog-heading"><a href="#">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend</a></h4>
<p class="text">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
</p>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.module-body -->
</div><!-- /.module -->
</section>