<table width="100%" border="0" cellspacing="0" cellpadding="0" id="catTable" class="tabTable">
  <thead>
    <tr  class="productListing-rowheading">
        <th class="productListing-heading" align="center" scope="col" id="listCell0-0">Book Image</th>
        <th class="productListing-heading" scope="col" id="listCell0-1">Book info</th>
    </tr>
  </thead>
  <tr  >
    <td class="productListing-data" align="center"><a href=""><img src="images/13.jpg" alt="Harry Potter and the Chamber of Secrets" title=" Harry Potter and the Chamber of Secrets " width="200" height="264" class="listingProductImage" /></a></td>
    <td class="productListing-data"><h3 class="itemTitle"><a href="">Harry Potter and the Chamber of Secrets</a></h3><div class="listingDescription">Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives knowledge, excerpts on the process of development of your personality. For a long period of time books were very rare and because of such confines only some esoteric people could afford them. And you know what? Books always have some notes of mysticism. Just remember that special atmosphere of...</div></td>
    
  </tr>

 
</table>