
<h2>Log in.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
<form  class="form-horizontal" name="form" >

                <hr />
                <div class="form-group" ng-class="{ 'has-error' : form.username.$invalid && !form.username.$pristine }">
                    <label class="col-md-2 control-label" >Username</label>
                    <div class="col-md-10">
                        <input class="form-control"  ng-model="username" name="username" type="text" value="" required/>
                        <p ng-show="form.username.$invalid && !form.username.$pristine" class="help-block">You username is required.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
                    <label class="col-md-2 control-label" >Password</label>
                    <div class="col-md-10">
                        <input class="form-control"  ng-model="password" name="password" type="password" required/>
                        <p ng-show="form.password.$invalid && !form.password.$pristine" class="help-block">You password is required.</p>
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input data-val="true"  id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />
                            <label for="RememberMe">Remember me?</label>
                        </div>
                    </div>
                </div>-->
                <p class="col-md-offset-2 help-block has-error">{{msgtxt}}</p>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Log in" ng-click="logIn()" class="btn btn-default" ng-disabled="form.$invalid" />
                    </div>
                </div>
                <p>
                    <a ui-sref="register">Register as a new user</a>
                </p>
</form>        </section>
    </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
