<h2>Register.</h2>

<form  class="form-horizontal">
   <h4>Create a new account.</h4>
    <hr />

</ul></div> 
    <div class="form-group">
        <label class="col-md-2 control-label" for="Username">Username</label>
        <div class="col-md-5">
            <input class="form-control" ng-model="user.username" name="username" type="text" />
        </div> 
    </div>   
    <div class="form-group">
        <label class="col-md-2 control-label" for="fname">First name</label>
        <div class="col-md-5">
            <input class="form-control"  ng-model="user.fname" name="fname" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="lname">Last name</label>
        <div class="col-md-5">
            <input class="form-control"  ng-model="user.lname" name="lname" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Password">Password</label>
        <div class="col-md-5">
            <input class="form-control"  ng-model="user.password" name="Password" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="ConfirmPassword">Confirm password</label>
        <div class="col-md-5">
            <input class="form-control"  ng-model="user.confirmPassword" name="ConfirmPassword" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="exampleInputFile">Choose picture</label>
        <div class="col-md-5">
            <input class="form-control" type="file" ng-model="user.inputFile">
            <p class="help-block"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" ng-click="register()" value="Register" />
        </div>
    </div>
</form>