
			<div class="reviews-section">
				<h3 class="head">Book Reviews</h3>
					<div class="col-md-9 reviews-grids">
						<div class="review">
							<div class="movie-pic">
								<img src="http://localhost:8080/book-project/api/books/get-image/{{book.id}}" class="img-responsive" alt="" />
							</div>
							<div class="review-info">
								<p class="span" ><i>{{book.title}}</i></p>
								<img ng-show="isliked" src="/views/images/like.jpg" ng-click="toggle();" class='like'/>
								<img ng-hide="isliked" src="/views/images/unlike.jpg" ng-click="toggle();" class='like'/>
								<p class="dirctr">by&nbsp;<a ui-sref="authorInfo({authorId:book.author.id})">{{book.author.name}}&nbsp; {{book.author.surname}}</a></p>

								<div class="clearfix"></div>
								<p class="ratingview c-rating">Avg Readers' Rating:</p>
								<img src="/views/images/star.png" class="star">
								
								<p class="ratingview c-rating inline" style="font-size: 2em;">
								&nbsp; {{rating.averageRate | number:1}}</p>/5
								<p class="inline" style="font-size: 0.7em;">  from <span>{{rating.totalUserRatings}}</span> users</p>
								<div class="clearfix"></div>

								<div class="rating c-rating">
									<p class="ratingview c-rating">Rate it</p>
									<span ng-click="rate(5);" id="5">☆</span>
									<span ng-click="rate(4);" id="4">☆</span>
									<span ng-click="rate(3);" id="3">☆</span>
									<span ng-click="rate(2);" id="2">☆</span>
									<span ng-click="rate(1);" id="1">☆</span>
								</div> 	
								
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="single">

							<p><i> {{book.description}} </i></p>
						</div>
                        <hr>
							
							<!-- comments-section-starts -->

<dir-disqus disqus-shortname="bookpr"
            disqus-identifier="#!single/{{book.id}}"
            disqus-url="http://localhost:8000/#!single/{{book.id}}"
            ready-to-bind="{{ contentLoaded }}">
</dir-disqus>

	  <!-- comments-section-ends -->
		  </div>