
			<div class="reviews-section">
				<h3 class="head">Book Reviews</h3>
					<div class="col-md-9 reviews-grids">
						<div class="review">
							<div class="movie-pic">
								<img src="http://localhost:8080/book-project/api/books/get-image/{{book.id}}" class="img-responsive" alt="" />
							</div>
							<div class="review-info">
								<p class="span" ><i>{{book.title}}</i></p>
								<img ng-show="isliked" src="/views/images/like.jpg" ng-click="toggle();" class='like'/>
								<img ng-hide="isliked" src="/views/images/unlike.jpg" ng-click="toggle();" class='like'/>
								<p class="dirctr">by&nbsp;<a ui-sref="authorInfo({authorId:book.author.id})">{{book.author.name}}&nbsp; {{book.author.surname}}</a></p>

								<div class="clearfix"></div>
								<p class="ratingview c-rating">Avg Readers' Rating:</p>
								<div class="rating c-rating">
									<span>☆</span>
									<span>☆</span>
									<span>☆</span>
									<span>☆</span>
									<span>☆</span>
								</div> 	
								<p class="ratingview c-rating">								
								&nbsp; 3.3/5</p>
								<div class="clearfix"></div>
								<div class="yrw">
									<div class="dropdown-button">           			
										<select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
										<option value="0">Your rating</option>	
										<option value="1">1.Poor</option>
										<option value="2">1.5(Below average)</option>
										<option value="3">2.Average</option>
										<option value="4">2.5(Above average)</option>
										<option value="5">3.Readable</option>
										<option value="6">3.5(Good)</option>
										<option value="7">4.5(Very good)</option>
										<option value="8">5.Outstanding</option>
									  </select>
									</div> 
                                    &nbsp;&nbsp;
									<button class="btn btn-success"  id="rate">Rate it</button>
									<div class="clearfix"></div>
								</div>
								
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="single">

							<p><i> {{book.description}} </i></p>
						</div>
                        <hr>
							
							<!-- comments-section-starts -->

<dir-disqus disqus-shortname="bookpr"
            disqus-identifier="#!single/{{book.id}}"
            disqus-url="http://localhost:8000/#!single/{{book.id}}"
            ready-to-bind="{{ contentLoaded }}">
</dir-disqus>

	  <!-- comments-section-ends -->
		  </div>