<!--<img class="img-responsive" src='/f3.jpg'> 
<h5><span value="Marija Todorova">marija</span></h5>-->

<div class="modal-body">
    <center>
    <img src="/f3.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
    <h3 class="media-heading">Joe Sixpack <small><a ui-sref="user.edit">(Edit profile)</a></small></h3>
    <span><strong>Favorite genres: </strong></span>
        <span class="label label-info"  ng-repeat="n in [1,2,3,4]">{{n}}</span>      
    </center>
    <hr>
    <center>
    <p class="text-left"><strong>Bio: </strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
    <br>
     <p class="text-left"><strong>Favorite books: </strong><br></p>
    <img class="img-responsive" src="/f3.jpg" >
    </center>
</div>
           