<!--<img class="img-responsive" src='/f3.jpg'> 
<h5><span value="Marija Todorova">marija</span></h5>-->
<div class="modal-body">
    <center>
        <img  id="profilepic" ng-src="http://localhost:8080/book-project/api/users/get-image/{{visitedUser.id}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
        <h3 class="media-heading" ng-model="user">{{visitedUser.fname}}&nbsp;</h3>
    <span><strong>Favorite genres: </strong></span>
        <span class="label label-info"  ng-repeat="g in visitedUser.genres" style="margin-right: 7px;">{{g.genreName}}</span>      
    </center>
    <hr>
    <center>
    <p class="text-left"><strong>Bio: </strong><br>
        <span ng-model="bio">{{visitedUser.biography}}</span></p>
    <br>
     <p class="text-left"><strong>Favorite books: </strong><br></p>
     <div>
         <p ng-repeat="fb in visitedUser.favbooks" style="display: inline-block;"><a ui-sref="single({itemId:fb.id})"><img  class="img-responsive" ng-src="http://localhost:8080/book-project/api/books/get-image/{{fb.id}}" style=" height: 250px; display: inline-block; margin-right: 20px;" ></a></p>
     </div>
    
    </center>
    




</div>


           