<!--<img class="img-responsive" src='/f3.jpg'> 
<h5><span value="Marija Todorova">marija</span></h5>-->
<div class="modal-body">
    <center>
        <img  id="profilepic" ng-src="http://localhost:8080/book-project/api/users/get-image/{{visitedUser.id}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
        <h3 class="media-heading" ng-model="user">{{visitedUser.fname}}&nbsp;</h3>
    <span><strong>Favorite genres: </strong></span>
        <span class="label label-info"  ng-repeat="g in visitedUser.genres" style="margin-right: 7px;">{{g.genreName}}</span>      
    </center>
    <hr>
    <center>
    <p class="text-left"><strong>Bio: </strong><br>
        <span ng-model="bio">{{visitedUser.biography}}</span></p>
    <br>
     <p class="text-left"><strong>Favorite books: </strong><br></p>
     <div>
         <p ng-repeat="fb in visitedUser.favbooks" style="display: inline-block;"><a ui-sref="single({itemId:fb.id})"><img  class="img-responsive" ng-src="http://localhost:8080/book-project/api/books/get-image/{{fb.id}}" style=" height: 250px; display: inline-block; margin-right: 20px;" ></a></p>
     </div>
    
    </center>
    

    <div ng-show="loggedUser">   
                       <!-- visitedUser nemora da e vo {{}}..od react neso -->
            <react-component name="CommentBox" props="{'visitedUser':visitedUser, 'currentUser':loggedUser}"/>
    </div>




</div>






 <script type = "text/javascript">


var Comment = React.createClass({
       propTypes: {
        comment: React.PropTypes.object
      },
        render: function() {
          var obj = this;
          return (
              React.createElement('div', {className: 'media comment',key:this.props.comment.id},
                React.createElement('a', {},
                  React.createElement('img',{
                                        className:'img-circle img-responsive media-object',
                                        src: this.props.comment.image,
                                        onClick: function(){
                                            console.log("REDIRECT")
                                            location.assign("/index.html?#/visit-user/"+obj.props.comment.fromID);
                                          }
                                      } ),
                  React.createElement('h4',{
                                          className:'media-heading',
                                          onClick: function(){
                                            console.log("REDIRECT")
                                            location.assign("/index.html?#/visit-user/"+obj.props.comment.fromID);
                                          }
                                        },this.props.comment.author + " ",
                  React.createElement('small',{},this.props.comment.date) ),
                  this.props.deleteBtn ?
                  React.createElement('button',{
                                              className:'btn btn-sm btn-danger pull-right',
                                              onClick : function(){
                                                          $.ajax({
                                                                url: "http://localhost:8080/book-project/api/comments/delete-comment/"+obj.props.comment.id,
                                                                cache: false,
                                                                success: function(data) {
                                                                    console.log("DELETED")
                                                                }.bind(this),
                                                                error: function(xhr, status, err) {
                                                                  console.error(this.props, status, err.toString());
                                                                }.bind(this)
                                                              });
                                                            location.reload();
                                                        } 
                                               },"Delete")
                  : null
                   
                ),
                React.createElement('span',{className:'texxt'},this.props.comment.text)
            )
              
            );
        }
      });


var CommentList = React.createClass({

        render: function() {
          
          var obj = this;
          var commentNodes = this.props.comments.map(function(comment){
            var bool = (comment.fromID == obj.props.currentUser.id);
            return (
               element = React.createElement(Comment, {"comment" : comment, deleteBtn:bool,  key:comment.id})
              );
          });
          return (
               React.createElement('div',{className:'commentList'}, commentNodes)
            
            );
        }
      });

var CommentForm  = React.createClass({
        getInitialState: function() {
            return {author: '', text: ''};
          },
        handleTextChange: function(e) {
            this.setState({text: e.target.value});
        },
        handleSubmit: function(e) {
          e.preventDefault();
          console.log("Submitting Comment");

            //uselles del
           var author = $("#author").text();
            var text = this.state.text.trim();
            if (!text || !author) {
              return;
            }


          $.ajax({
                url: "http://localhost:8080/book-project/api/comments/add-comment",
                cache: false,
                type:"POST",
                data:{
                      userFrom : this.props.currentUser.id,
                      userTo : this.props.visitedUser.id,
                      text : this.state.text
                    },
                success: function(data) {
                    this.props.onCommentSubmit(data);
                }.bind(this),
                error: function(xhr, status, err) {
                  console.error(this.props, status, err.toString());
                }.bind(this)
              });

            this.setState({author: '', text: ''});
        },
        render: function() {
          return (

              React.createElement('div', {className:'well'},
               React.createElement('form',{ onSubmit:this.handleSubmit},
                  React.createElement('h4',{},"Write Comment as: ",
                      React.createElement('span',{id:'author'},this.props.currentUser.fname+" "+this.props.currentUser.lname) 
                  ),
                  React.createElement('div',{className:'form-group'},
                      React.createElement('textarea',{ 
                          className:'form-control',
                          placeholder:'Say something...',
                          rows:"3",
                          type:"text",
                          value:this.state.text, 
                          onChange:this.handleTextChange
                          })
                  ),
                  
                  React.createElement('button',{className:'btn btn-success ',type:"submit"},"Add Comment")

                )
             )
            );
        }
      });

  var CommentBox = React.createClass({
        getInitialState: function() {
            return {
              data: [],
              currentUser:{},
              visitedUser:{}
            };
          },
          componentDidMount: function() {
            var obj = this;
              //problem imav undifined mi bese promenlivata od scopeto...posle 1 sec doagjase.. LOL
            setTimeout(function(){

              //console.log(obj.props);
              $.ajax({
                url: "http://localhost:8080/book-project/api/comments/of-user/"+obj.props.visitedUser.id,
                dataType: 'json',
                cache: false,
                success: function(data) {
                  var AllComments=[];
                  $(data).each(function(index,item){
                    var comment={};
                    comment.id = item.id;
                    comment.date = item.dateCreated;
                    comment.fromID = item.userFrom.id;
                    comment.toID = item.userTo.id;
                    comment.author = item.userFrom.fname +" "+item.userFrom.lname;
                    comment.text = item.comment;
                    comment.image = "http://localhost:8080/book-project/api/users/get-image/"+item.userFrom.id;
                    //console.log(comment)
                    AllComments.push(comment);
                  });
                  obj.setState({
                    data: AllComments,
                    visitedUser:obj.props.visitedUser,
                    currentUser:obj.props.currentUser
                  });

                }.bind(obj),
                error: function(xhr, status, err) {
                  console.error(obj.props, status, err.toString());
                }.bind(obj)
              });

             
           }, 1000);

          
          },

          handleCommentSubmit: function(item) {
              var data = this.state.data;
              var comment={};
              comment.id = item.id;
              comment.date = new Date(item.dateCreated).toString();
              comment.author = item.userFrom.fname +" "+item.userFrom.lname;
              comment.fromID = item.userFrom.id;
              comment.toID = item.userTo.id;
              comment.text = item.comment;
              comment.image = "http://localhost:8080/book-project/api/users/get-image/"+item.userFrom.id;

              data.push(comment);
              this.setState({data: data});

          },
        render: function () {
          
          return (
            React.createElement('div',{},
                React.createElement('h1',{},"Comments"),
                React.createElement(CommentList, {"comments":this.state.data , currentUser : this.state.currentUser}),
                React.createElement(CommentForm, {
                  currentUser: this.state.currentUser,
                  visitedUser: this.state.visitedUser,
                  onCommentSubmit:this.handleCommentSubmit
                })

              )
            
            );
        }
      });



</script>
           